In [79]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [80]:
data_path = "../data/"
service_df = pd.read_csv(data_path + 'Service_Area_PUF_2019.csv', encoding='cp1252')
issuer_df = pd.read_csv('issuer_characteristics.csv')
county = pd.read_csv('county_characteristics.csv')

In [81]:
service_df3 = service_df[['County','ServiceAreaId','IssuerId']]
service_df3 = service_df3.drop_duplicates()
m1 = service_df3.merge(county, how='left', left_on='County', right_on='County')
m1

,County,ServiceAreaId,IssuerId,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,...,FIPS County Code,County Name,Total Number of Consumers,Number of Consumers with CSR (AV of 73%/87%/94%),Number of Consumers with CSR AV of 73%,Number of Consumers with CSR AV of 87%,Number of Consumers with CSR AV of 94%,Average Monthly Advanced CSR Payment for Consumers with 73%,Average Monthly Advanced CSR Payment for Consumers with 87%,Average Monthly Advanced CSR Payment for Consumers with 94%
0,NaN,AKS001,21989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020.0,AKS002,21989,232095.0,171036.0,163054.0,153197.0,9857.0,7982.0,61059.0,...,2020.0,ANCHORAGE,"9,484","3,917",787,"1,640","1,490",$26,$204,$290
2,2170.0,AKS002,21989,74564.0,47177.0,46621.0,42025.0,4596.0,556.0,27387.0,...,2170.0,MATANUSKA-SUSITNA,"3,218","1,224",239,518,467,$27,$217,$307
3,2090.0,AKS002,21989,77983.0,57515.0,51353.0,47009.0,4344.0,6162.0,20468.0,...,2090.0,FAIRBANKS NORTH STAR,"2,382","1,008",216,405,387,$26,$206,$273
4,NaN,AKS001,38344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9998,54107.0,WVS001,50328,70021.0,39875.0,39814.0,36778.0,3036.0,61.0,30146.0,...,54107.0,WOOD,"1,791",922,220,461,241,$17,$115,$155
9999,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,54109.0,WYOMING,376,227,36,122,69,$19,$132,$168
10000,NaN,WVS001,53843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,NaN,WVS001,76526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,NaN,WVS001,94562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
#issuer_df#[['ServiceAreaId', 'IssuerId']]
m2 = m1.merge(issuer_df, how='left', on=['ServiceAreaId', 'IssuerId'])
m2

,County,ServiceAreaId,IssuerId,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,...,TEHBCombInnOonFamilyPerPersonMOOP,TEHBCombInnOonFamilyPerGroupMOOP,TEHBInnTier1IndividualMOOP,SBCHavingDiabetesCopayment,TEHBCombInnOonIndividualMOOP,SBCHavingaBabyCopayment,TEHBOutOfNetFamilyPerGroupMOOP,TEHBOutOfNetIndividualMOOP,TEHBInnTier1FamilyPerPersonMOOP,TEHBOutOfNetFamilyPerPersonMOOP
0,NaN,AKS001,21989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020.0,AKS002,21989,232095.0,171036.0,163054.0,153197.0,9857.0,7982.0,61059.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2170.0,AKS002,21989,74564.0,47177.0,46621.0,42025.0,4596.0,556.0,27387.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2090.0,AKS002,21989,77983.0,57515.0,51353.0,47009.0,4344.0,6162.0,20468.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,AKS001,38344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72348,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,6850.0,13700.0,6.0,800.0,6.0,100.0,0.0,0.0,6850.0,0.0
72349,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72350,NaN,WVS001,53843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72351,NaN,WVS001,76526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72352,NaN,WVS001,94562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
data_path = "../data_subsidy/"
issuer_enroll = pd.read_csv(data_path + '2016-Issuer-Enrollment-Disenrollment-Report.csv',na_values=['*'])
issuer_enroll

,Tenant ID,HIOS ID,Policy County FIPS Code,Ever Enrolled Count,Females,Males,< 18 years old,18-34 years old,35-54 years old,> 55 years old,FPL: < 138%,FPL: >= 138% and <=250%,FPL: > 250% and <=400%,FPL: > 400%,FPL: Unknown,Tobacco Users
0,AK,38344,2013,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1,AK,38344,2016,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0
2,AK,38344,2020,"2,459","1,319","1,140",385,687,840,547,206,"1,148",643,115,347,19
3,AK,38344,2050,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,AK,38344,2060,15,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8791,WY,11269,56037,"1,273",717,556,191,337,401,344,288,539,291,38,117,91
8792,WY,11269,56039,"3,054","1,534","1,520",353,"1,262",962,477,428,"1,323",915,145,243,58
8793,WY,11269,56041,712,396,316,136,163,228,185,151,313,177,31,40,40
8794,WY,11269,56043,383,200,183,66,80,122,115,82,136,116,13,36,18
8795,WY,11269,56045,268,158,110,34,42,92,100,61,95,69,NaN,NaN,17

In [90]:
m3 = issuer_enroll.merge(m2, how='left', right_on=['County', 'IssuerId'], left_on=['Policy County FIPS Code','HIOS ID'])
m3 = m3.drop_duplicates()
m3['Ever Enrolled Count'] = m3['Ever Enrolled Count'].str.replace(',','')
m3.fillna(0, inplace = True)
m3['Ever Enrolled Count'] = m3['Ever Enrolled Count'].astype(str).astype(int)
m3[m3['Ever Enrolled Count']>0]
m3

,Tenant ID,HIOS ID,Policy County FIPS Code,Ever Enrolled Count,Females,Males,< 18 years old,18-34 years old,35-54 years old,> 55 years old,...,TEHBCombInnOonFamilyPerPersonMOOP,TEHBCombInnOonFamilyPerGroupMOOP,TEHBInnTier1IndividualMOOP,SBCHavingDiabetesCopayment,TEHBCombInnOonIndividualMOOP,SBCHavingaBabyCopayment,TEHBOutOfNetFamilyPerGroupMOOP,TEHBOutOfNetIndividualMOOP,TEHBInnTier1FamilyPerPersonMOOP,TEHBOutOfNetFamilyPerPersonMOOP
0,AK,38344,2013,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AK,38344,2016,12,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AK,38344,2020,2459,"1,319","1,140",385,687,840,547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AK,38344,2050,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AK,38344,2060,15,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59325,WY,11269,56037,1273,717,556,191,337,401,344,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59326,WY,11269,56039,3054,"1,534","1,520",353,"1,262",962,477,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59327,WY,11269,56041,712,396,316,136,163,228,185,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59328,WY,11269,56043,383,200,183,66,80,122,115,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59329,WY,11269,56045,268,158,110,34,42,92,100,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
m3.fillna(0, inplace = True)
m3
# m3.to_csv('merged_characteristics.csv', index=False)

,County,ServiceAreaId,IssuerId,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,...,< 18 years old,18-34 years old,35-54 years old,> 55 years old,FPL: < 138%,FPL: >= 138% and <=250%,FPL: > 250% and <=400%,FPL: > 400%,FPL: Unknown,Tobacco Users
0,0.0,AKS001,21989,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2020.0,AKS002,21989,232095.0,171036.0,163054.0,153197.0,9857.0,7982.0,61059.0,...,0,0,0,0,0,0,0,0,0,0
2,2170.0,AKS002,21989,74564.0,47177.0,46621.0,42025.0,4596.0,556.0,27387.0,...,0,0,0,0,0,0,0,0,0,0
3,2090.0,AKS002,21989,77983.0,57515.0,51353.0,47009.0,4344.0,6162.0,20468.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,AKS001,38344,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72348,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0
72349,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0
72350,0.0,WVS001,53843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
72351,0.0,WVS001,76526,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
72352,0.0,WVS001,94562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
m3['Policy County FIPS Code'].nunique()

2055

In [64]:
m3['IssuerId'].nunique()

433

In [65]:
m3['ServiceAreaId'].nunique()

269

In [66]:
issuer_enroll['HIOS ID'].nunique()

237

In [67]:
col_names = pd.Series(m3.columns)
#col_names.to_csv('col_names.csv')

In [68]:
len(list(county.columns))

480

In [70]:
m3['Total Number of Consumers'] = m3['Total Number of Consumers'].str.replace(',','')
m3.fillna(0, inplace = True)
m3['Total Number of Consumers'] = m3['Total Number of Consumers'].astype(str).astype(int)
m3[m3['Total Number of Consumers']>0]

,County,ServiceAreaId,IssuerId,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,...,< 18 years old,18-34 years old,35-54 years old,> 55 years old,FPL: < 138%,FPL: >= 138% and <=250%,FPL: > 250% and <=400%,FPL: > 400%,FPL: Unknown,Tobacco Users
1,2020.0,AKS002,21989,232095.0,171036.0,163054.0,153197.0,9857.0,7982.0,61059.0,...,0,0,0,0,0,0,0,0,0,0
2,2170.0,AKS002,21989,74564.0,47177.0,46621.0,42025.0,4596.0,556.0,27387.0,...,0,0,0,0,0,0,0,0,0,0
3,2090.0,AKS002,21989,77983.0,57515.0,51353.0,47009.0,4344.0,6162.0,20468.0,...,0,0,0,0,0,0,0,0,0,0
39,2013.0,AKS002,73836,2933.0,2537.0,2532.0,2466.0,66.0,5.0,396.0,...,0,0,0,0,0,0,0,0,0,0
40,2016.0,AKS002,73836,4904.0,4199.0,4128.0,4083.0,45.0,71.0,705.0,...,0,0,12,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72345,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0
72346,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0
72347,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0
72348,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0
72349,54109.0,WVS001,50328,18428.0,7286.0,7286.0,6406.0,880.0,0.0,11142.0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
m3['Total Number of Consumers']

1780