In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = "../data/"
df = pd.read_csv(data_path + 'Service_Area_PUF_2019.csv', encoding='cp1252')

In [3]:
print('There are', df['IssuerId'].nunique(), 'unique IssuerIds in the data.')

There are 433 unique IssuerIds in the data.

In [4]:
print('There are', df['ServiceAreaName'].nunique(), 'unique ServiceAreaNames in the data.')

There are 532 unique ServiceAreaNames in the data.

In [5]:
print('There are', df['County'].nunique(), 'unique counties in the data.')

There are 2461 unique counties in the data.

In [6]:
df.groupby('SourceName').agg({'County': 'nunique', 'ServiceAreaName': 'nunique'})

            County  ServiceAreaName
SourceName
HIOS          1274              278
OPM              0                1
SERFF         1187              269

In [7]:
# Cross Product
df1 = df[['IssuerId']]
df2 = df[['County']]
merged = df1.merge(df2, how='cross')
merged

           IssuerId   County
0             21989      NaN
1             21989   2020.0
2             21989   2170.0
3             21989   2090.0
4             21989      NaN
...             ...      ...
113571644     94562  54107.0
113571645     94562  54109.0
113571646     94562      NaN
113571647     94562      NaN
113571648     94562      NaN

[113571649 rows x 2 columns]

In [8]:
issuer_county = df[['IssuerId', 'County']]
issuer_county['Binary'] = 1
issuer_county

/var/folders/bp/5t2f518d2hvd2wc1pgv4_w_40000gn/T/ipykernel_9180/2047534556.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  issuer_county['Binary'] = 1

       IssuerId   County  Binary
0         21989      NaN       1
1         21989   2020.0       1
2         21989   2170.0       1
3         21989   2090.0       1
4         38344      NaN       1
...         ...      ...     ...
10652     50328  54107.0       1
10653     50328  54109.0       1
10654     53843      NaN       1
10655     76526      NaN       1
10656     94562      NaN       1

[10657 rows x 3 columns]

In [9]:
merged = merged.merge(issuer_county, how='left')
merged['Binary'] = merged['Binary'].fillna(0)
merged

           IssuerId   County  Binary
0             21989      NaN     1.0
1             21989   2020.0     1.0
2             21989   2170.0     1.0
3             21989   2090.0     1.0
4             21989      NaN     1.0
...             ...      ...     ...
116467805     94562  54107.0     0.0
116467806     94562  54109.0     0.0
116467807     94562      NaN     1.0
116467808     94562      NaN     1.0
116467809     94562      NaN     1.0

[116467810 rows x 3 columns]

In [10]:
merged['Binary'].value_counts()

0.0    107352613
1.0      9115197
Name: Binary, dtype: int64

In [11]:
# merged.to_csv('issuerid_county.csv')