In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
data_path = "../data/"
service_df = pd.read_csv(data_path + 'Service_Area_PUF_2019.csv', encoding='cp1252')
issuer_df = pd.read_csv('issuer_characteristics.csv')
county = pd.read_csv('county_characteristics.csv')

In [4]:
service_df3 = service_df[['County','ServiceAreaId','IssuerId']]
service_df3 = service_df3.drop_duplicates()
m1 = county.merge(service_df3, how='left', left_on='County', right_on='County')
m1

,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,DP03_0008E,DP03_0009E,DP03_0010E,...,Total Number of Consumers,Number of Consumers with CSR (AV of 73%/87%/94%),Number of Consumers with CSR AV of 73%,Number of Consumers with CSR AV of 87%,Number of Consumers with CSR AV of 94%,Average Monthly Advanced CSR Payment for Consumers with 73%,Average Monthly Advanced CSR Payment for Consumers with 87%,Average Monthly Advanced CSR Payment for Consumers with 94%,ServiceAreaId,IssuerId
0,42712,26008,25699,24262,1437,309,16704,25699,0,22074,...,"1,896","1,341",142,399,800,$13,$87,$117,ALS001,18239.0
1,160301,93872,93640,87753,5887,232,66429,93640,0,82813,...,"11,778","8,342","1,246","2,426","4,670",$13,$91,$121,ALS001,18239.0
2,21476,10316,10316,8993,1323,0,11160,10316,0,9938,...,801,584,62,155,367,$13,$98,$132,ALS001,18239.0
3,18496,9002,8997,8354,643,5,9494,8997,0,8514,...,629,477,58,121,298,$15,$101,$123,NaN,NaN
4,46007,22969,22960,21593,1367,9,23038,22960,0,23370,...,"2,264","1,663",197,437,"1,029",$14,$96,$132,ALS001,18239.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10474,45100,17037,17037,14092,2945,0,28063,17037,0,23837,...,0,0,0,0,0,0,0,0,NaN,NaN
10475,7229,3342,3342,2932,410,0,3887,3342,0,3622,...,0,0,0,0,0,0,0,0,NaN,NaN
10476,19212,9278,9256,6960,2296,22,9934,9256,0,9970,...,0,0,0,0,0,0,0,0,NaN,NaN
10477,28916,10802,10778,8171,2607,24,18114,10778,0,15074,...,0,0,0,0,0,0,0,0,NaN,NaN
10478,31386,11931,11913,9048,2865,18,19455,11913,0,16546,...,0,0,0,0,0,0,0,0,NaN,NaN

In [5]:
#issuer_df#[['ServiceAreaId', 'IssuerId']]
m2 = m1.merge(issuer_df, how='left', on=['ServiceAreaId', 'IssuerId'])
m2

,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,DP03_0008E,DP03_0009E,DP03_0010E,...,TEHBCombInnOonFamilyPerPersonMOOP,TEHBCombInnOonFamilyPerGroupMOOP,TEHBInnTier1IndividualMOOP,SBCHavingDiabetesCopayment,TEHBCombInnOonIndividualMOOP,SBCHavingaBabyCopayment,TEHBOutOfNetFamilyPerGroupMOOP,TEHBOutOfNetIndividualMOOP,TEHBInnTier1FamilyPerPersonMOOP,TEHBOutOfNetFamilyPerPersonMOOP
0,42712,26008,25699,24262,1437,309,16704,25699,0,22074,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,160301,93872,93640,87753,5887,232,66429,93640,0,82813,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21476,10316,10316,8993,1323,0,11160,10316,0,9938,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18496,9002,8997,8354,643,5,9494,8997,0,8514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46007,22969,22960,21593,1367,9,23038,22960,0,23370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71910,45100,17037,17037,14092,2945,0,28063,17037,0,23837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71911,7229,3342,3342,2932,410,0,3887,3342,0,3622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71912,19212,9278,9256,6960,2296,22,9934,9256,0,9970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71913,28916,10802,10778,8171,2607,24,18114,10778,0,15074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71914,31386,11931,11913,9048,2865,18,19455,11913,0,16546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_path = "../data_subsidy/"
issuer_enroll = pd.read_csv(data_path + '2016-Issuer-Enrollment-Disenrollment-Report.csv',na_values=['*'])
issuer_enroll

,Tenant ID,HIOS ID,Policy County FIPS Code,Ever Enrolled Count,Females,Males,< 18 years old,18-34 years old,35-54 years old,> 55 years old,FPL: < 138%,FPL: >= 138% and <=250%,FPL: > 250% and <=400%,FPL: > 400%,FPL: Unknown,Tobacco Users
0,AK,38344,2013,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
1,AK,38344,2016,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0
2,AK,38344,2020,"2,459","1,319","1,140",385,687,840,547,206,"1,148",643,115,347,19
3,AK,38344,2050,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,AK,38344,2060,15,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8791,WY,11269,56037,"1,273",717,556,191,337,401,344,288,539,291,38,117,91
8792,WY,11269,56039,"3,054","1,534","1,520",353,"1,262",962,477,428,"1,323",915,145,243,58
8793,WY,11269,56041,712,396,316,136,163,228,185,151,313,177,31,40,40
8794,WY,11269,56043,383,200,183,66,80,122,115,82,136,116,13,36,18
8795,WY,11269,56045,268,158,110,34,42,92,100,61,95,69,NaN,NaN,17

In [7]:
m3 = m2.merge(issuer_enroll, how='left', left_on=['County', 'IssuerId'], right_on=['Policy County FIPS Code','HIOS ID'])
m3 = m3.drop_duplicates()
m3

,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,DP03_0008E,DP03_0009E,DP03_0010E,...,< 18 years old,18-34 years old,35-54 years old,> 55 years old,FPL: < 138%,FPL: >= 138% and <=250%,FPL: > 250% and <=400%,FPL: > 400%,FPL: Unknown,Tobacco Users
0,42712,26008,25699,24262,1437,309,16704,25699,0,22074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,160301,93872,93640,87753,5887,232,66429,93640,0,82813,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21476,10316,10316,8993,1323,0,11160,10316,0,9938,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18496,9002,8997,8354,643,5,9494,8997,0,8514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46007,22969,22960,21593,1367,9,23038,22960,0,23370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71910,45100,17037,17037,14092,2945,0,28063,17037,0,23837,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71911,7229,3342,3342,2932,410,0,3887,3342,0,3622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71912,19212,9278,9256,6960,2296,22,9934,9256,0,9970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71913,28916,10802,10778,8171,2607,24,18114,10778,0,15074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71914,31386,11931,11913,9048,2865,18,19455,11913,0,16546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
m3.fillna(0, inplace = True)
# m3.to_csv('merged_characteristics.csv', index=False)

In [9]:
m3['Policy County FIPS Code'].nunique()

2055

In [10]:
m3['IssuerId'].nunique()

203

In [11]:
m3['ServiceAreaId'].nunique()

244

In [12]:
issuer_enroll['HIOS ID'].nunique()

237

In [16]:
col_names = pd.Series(m3.columns)
#col_names.to_csv('col_names.csv')

In [14]:
len(list(county.columns))

480